# Node
node_modules/
npm-debug.log

# VS Code
.vscode/

# Build / dist
dist/
build/
out/

# Temporary files
*.log
*.tmp

*.jsson-output
jsson

# Anything huge
*.bin
bin/
*.dat

*.exe
*.vsix

# Test files
test-*.jsson
/tests-jsson
brutal.jsson
*.ps1