.vscode/**
.vscode-test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
cmd/**
internal/**
examples/test_*.jsson
*.exe
*.go
go.mod
go.sum
implementation_plan.md
walkthrough.md
VSCODE_TESTING.md
